/* gray-100: #F1F5F9; */
/* gray-200: #E2E8F0; */
/* gray-300: #CBD5E1; */
/* gray-400: #94A3B8; */
/* gray-500: #64748B; */
/* gray-600: #475569; */
/* gray-700: #334155; */
/* gray-800: #1E293B; */
/* gray-900: #0F172A; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  background-color: #1E293B;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  color: #94A3B8;
  padding: .5rem;
  align-items: center;
  line-height: 1rem;
}

header .icon {
  width: 1rem;
}

header a {
  color: #E2E8F0;;
  text-decoration: none;
}
span {
  margin: 0 .5rem;
}

section {
  background-color: #0F172A;
  margin-bottom: 2rem;
}

th {
  font-size: 1.2rem;
  font-weight: normal;
  color: #94A3B8;
  text-align: center;
  width: 100%;
}

td {
  color: #CBD5E1;
}

.weather-icon {
  width: 5rem;
  margin: 0 auto;
}

.now-temp {
  font-size: 4rem;
  color: #CBD5E1;
  text-align: center;
  padding: 2rem 0;
}

table {
  width: 100vw;
  display: block;
  padding: 1rem;
}

thead {
  margin-bottom: 1rem;
}

thead, tbody {
  width: 100%;
  display: block;
}

tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.weather-temp {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.cities {
  list-style-type: none;
  padding: 0;
}

.city a {
  border-radius: 0.25rem;
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  display: block;
  background-color: #0F172A;
  color: #94A3B8;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.font-semibold {
  font-weight: 600;
}
